@media (prefers-color-scheme: dark) {
  body {
      background: black;
      color:  white;
  }
  .progress-two {
      color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
      background:  rgb(206, 206, 206);
      color: black;
  }
  .progress-two {
      color: black;
  }
}


/* ============ Custom Font ============ */
/* Specify in CSS */
code { font-family: 'Fira Code', monospace; }

@supports (font-variation-settings: normal) {
  code { font-family: 'Fira Code VF', monospace; }
}


@font-face {
  font-family: 'MyHand';
  src: url('../Handwriting1.ttf') format('truetype');
}

/* ============ Main ============ */

body {
    font-family: /*"MyHand",*/Arial, sans-serif;
    font-size: 20px; 
}

/* ============ Other ============ */

pre {
    width: 100%;
}

.page-content {
    margin: 70px 5px 50px 5px;
}

.settings-svg {
    color: red;
    position: fixed;
    bottom: 0;
    float: left;
}

.settings-area {
    position: fixed;
}

.site-user-name {
    position: fixed;
    bottom: 5px;
    left: 40px;
    /*background-color: rgb(34, 34, 34, 0.5);*/
}

.pipeline {
    position: fixed;
    bottom: 5px;
    right: 0;
}

.site-user-name-bottom {
    display: none;
    position: fixed;
    bottom: 6px;
    /*background-color: rgb(34, 34, 34, 0.5);*/
    margin-left: 30px;
}
.button-tran-red {
    color: red;
    padding: 2px;
    background-color: transparent;
    border-radius: 8px;
    border-color: red;
}
.button-tran-red:hover {
    background-color: red;
    color: black;
}

.red-or {
    color: #fc5203;
}

.screen-ipad {
    display: inline;
}
.screen-iphone {
    display: none;
}

.setname {
    background-color: lightblue;
    border-radius: 15px;
    border-color: red;
    outline: 0;
}


/* ========= Links ========= */

a:link {
    color:rgb(211, 0, 0);
}

a:visited {
    color: rgb(211, 0, 0);
}

a:hover {
    color: rgb(238, 0, 0);
}

a:active {
    color: darkgray;
}

/* ======== Custom HTML tags ======== */

hr1-solidred {
    /* hr */
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    /* style */
    border: 1px solid red;
    border-radius: 2px;
}

hr2-solidred {
    /* hr */
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    /* style */
    border: 2px solid red;
    border-radius: 2px;
}

/* ============ Nav Bar ============ */

/* == The Bar == */
.tab {
    overflow: hidden;
    background-color: #222222;
    padding: 0;
    width: auto;
    border-radius: 15px;
    position: fixed;
    top: 0;
    margin-left: 280px;
    z-index: 10;
}
        
/* == The Tabs == */
.tab button {
    background-color: #505050;
    float: left;
    border: none;
    outline: 0;
    cursor: pointer;
    transition: .5s;
    font-size: 17px;
    padding: 14px 16px;
    color: white;
    margin: auto;
}
        
/* == Tab Color On Hover == */
.tab button:hover {
    background-color: red;
    color: white;
}
        
/* == The Active Tab Color == */
.tab button.active {
    background-color: red;
    color: white;
}
        
/* == The Tab Content == */
.tabcontent {
    display: none;
    -webkit-animation: fadeEffect 1.5s;
    animation: fadeEffect 1.5s;
}
        
/* == The Animations == */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
        
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* ============ Pogress bar ============ */

.progress-one {
    color: #000;
    background-color: #f1f1f1;
    border-radius: 16px;
}

.progress-two {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 16px;
    display: table;
    clear: both;
    color: #fff;
    background-color: rgb(243, 82, 33);
}

.w3-container {
    padding: 5px 15px;
}

.w3-container:after,.w3-container:before {
    content:"";
}

.w3-round-xlarge {
    border-radius:16px;
}

.w3-blue,.w3-hover-blue:hover {
	color: #fff!important;
	background-color: #2196F3!important;
}

.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover {
    color:#000!important;
    background-color:#f1f1f1!important;
}

.w3-round,.w3-round-medium {
    border-radius:16px;
}

/* ======== @media content size ======== */

@media screen and (max-width: 450px) {
    .tab {
        margin-left: 8px;
    }
    
    .tab button {
        padding: 13px 15px;
        font-size: 13px;
    }
    
    .page-content {
        margin: 60px 1px 50px 1px;
    }
}